# Restrict the maximum upload size to 32MB
php_value upload_max_filesize 32000000000
php_value post_max_size 32000000000

# Compensate for slow connection times, otherwise video uploads may not complete
php_value max_execution_time 999999999
php_value max_input_time 999999999


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)$ index.php?page=$1 [QSA,NC,L]

#--- Rewrite PHP files clean URL for documentation
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule projects/^([A-Za-z0-9-]+)$ ?page=$1 [NC,L]
</IfModule>